<!DOCTYPE html>
<html lang = "en">
<head>
<title> Slavery throughout the years </title>
<style>
h1{
color: red;
text-align: center;
font-family:Algeria,New Times Roman;
font-size:40px;
font-weight:bold;}
div{font-family:Arial,San-serif;
font-size:28px;
text-align:center;}

</head>
<body>
<h1> What is Slavery?<h1>
<img src="slavery.jpg" alt="slavery">
<div>
<p>The capturing, selling, and buying of enslaved persons. Slavery has existed throughout the world since ancient times, and trading in slaves has been equally universal. Enslaved persons were taken from the Slavs and Iranians from antiquity to the 19th century, from the sub-Saharan Africans from the 1st century CE to the mid-20th century, and from the Germanic, Celtic, and Romance peoples during the Viking era.</p> 
<p>Elaborate trade networks developed: for example, in the 9th and 10th centuries, Vikings might sell East Slavic slaves to Arab and Jewish traders, who would take them to Verdun and Leon, whence they might be sold throughout Moorish Spain and North Africa. The transatlantic slave trade is perhaps the best known. In Africa, women and children but not men were wanted as slaves for labour and for lineage incorporation; from circa 1500, captive men were taken to the coast and sold to Europeans. They were then transported to the Caribbean or Brazil, where they were sold at auction and taken throughout the New World. In the 17th and 18th centuries, enslaved African persons were traded in the Caribbean for molasses, which was made into rum in the American colonies and traded back to Africa for more slaves. The practice of slavery continued in many countries (illegally) into the 21st century.</p>

<p>Indeed, the not-for-profit abolitionist organization American Anti-Slavery Group claims that more than 40 million people are enslaved around the world. Sex slavery, in which women and children are forced into prostitution—sometimes by their own family members—is a growing practice throughout the world.</p>
</div>
<h1> History of slavery </h1>
<ol>
<li>TRANS-ATLANTIC SLAVE VOYAGES</li>
<ul>
<li>Over the period of the Atlantic Slave Trade, from approximately 1526 to 1867, some 12.5 million captured men, women, and children were put on ships in Africa, and 10.7 million arrived in the Americas. The Atlantic Slave Trade was likely the most costly in human life of all long-distance global migrations.</li>
<li>The first Africans forced to work in the New World left from Europe at the beginning of the sixteenth century, not from Africa. The first voyage carrying enslaved people direct from Africa to the Americas probably sailed in 1526.</li>
<li>The number of people carried off from Africa reached 30,000 per year in the 1690s and 85,000 per year a century later. More than eight out of ten Africans forced into the slave trade crossed the Atlantic between 1700 and 1850. The decade 1821 to 1830 saw more than 80,000 people a year leaving Africa in slave ships. Well over a million more—one-tenth of those carried off in the slave trade era—followed within the next twenty years.
By 1820, nearly four Africans for every one European had crossed the Atlantic; about four out of every five women who crossed the Atlantic were from Africa.</li>
</ul>
<li>US SLAVERY COMPARED TO SLAVERY IN THE AMERICAS</li>
<ul>
<li>Plantations in the United States were dwarfed by those in the West Indies. In the Caribbean, many plantations held 150 enslaved persons or more. In the American South, only one slaveholder held as many as a thousand enslaved persons, and just 125 had over 250 enslaved persons.</li>
<li>In the Caribbean, Dutch Guiana, and Brazil, the enslaved death rate was so high and the birth rate so low that they could not sustain their population without importations from Africa. Rates of natural decrease ran as high as 5 percent a year. While the death rate of the US enslaved population was about the same as that of Jamaican enslaved persons, the birth rate was more than 80 percent higher in the United States.</li>
<li>In the United States enslaved persons were more generations removed from Africa than those in the Caribbean. In the nineteenth century, the majority of enslaved in the British Caribbean and Brazil were born in Africa. In contrast, by 1850, most US enslaved persons were third-, fourth-, or fifth-generation Americans.</li>
</ol>
<h1> Largest slave traders </h1>
<table>
<thead> <tr>
<th> Name</th>
<th> Slaves disembarked </th>
<th> Main port of departure</th>
</tr>
</thead>
<tbody>
<tr> 
<td> D'wolf James</td>
<td> 3,414</td>
<td> Bristol </td>
</tr>
<tr> 
<td> Vernon William </td>
<td> 2,375</td>
<td> Newsport </td>
</tr>
<tr> 
<td> Gardener Caleb</td>
<td> 2,554</td>
<td> Newsport </td>
</tr>
</tbody>
</table>
<h1>
What is Modern Slavery?</h1>
<div>
"We were only there to work. It felt like I was in jail.” Laboni, Nepal</div>
<p>
You might think that slavery is a thing of the past. But right now, almost 50 million people are trapped in slavery worldwide.  
It’s a problem that affects every country on earth – including yours.  
In many ways, slavery may look different from the slavery of the Transatlantic slave trade, but modern slavery – as a term – encompasses many forms of slavery, including human trafficking and people being born into slavery. 
There are hundreds of definitions of modern slavery. All of these include aspects of control, involuntary actions and exploitation. 
At Anti-Slavery International, we define modern slavery as when an individual is exploited by others, for personal or commercial gain. Whether tricked, coerced, or forced, they lose their freedom. This includes but is not limited to human trafficking, forced labour and debt bondage.
<div>
Our mission is to stop slavery – to secure freedom for everyone, everywhere, always.</div>
</p>

</body>
</html>
